---
export interface SocialMediaButtonProps {
  id: string;
  text: string;
  link: string;
  accessibilityText: string;
}

const { id, text, link, accessibilityText } =
  Astro.props as SocialMediaButtonProps;
---

<a
  href={link}
  class="flex items-center transition-all hover:scale-105"
  target="_blank"
  rel="noopener"
  id={id}
  title={accessibilityText}
  aria-label={accessibilityText}
>
  <div class="text-primary/80 dark:text-primary">
    <slot />
  </div>

  <span>{text}</span>
</a>
