---
import Layout from "@/layouts/Layout.astro";

import SocialMediaButton from "@/modules/contact/SocialMediaButton.astro";

import Counter from "@/components/Counter/Counter.vue";

import GithubMark from "@/assets/icons/github-mark.astro";
import Youtube from "@/assets/icons/youtube.astro";
import Linkedin from "@/assets/icons/linkedin.astro";
import Coin from "@/assets/icons/coin.astro";

import SectionLayout from "@/UI/SectionLayout.astro";
import TwoColumnLayout from "@/UI/TwoColumnLayout.astro";
import PrimaryContain from "@/UI/PrimaryContain.astro";
import InfoBox from "@/UI/InfoBox.astro";

import { IDS, PEDROYANEZNAME, SOCIALMEDIA } from "@/consts/const";

const title = `${PEDROYANEZNAME} - Contacto`; //TODO: aplicar internalización
---

<Layout title={title}>
  <SectionLayout sectionTitle="¡Será un placer conocer tus ideas!">
    <TwoColumnLayout>
      <PrimaryContain>
        <article class="text-xl">
          <p class="leading-normal">
            Si te apasiona la tecnología tanto como a mí, no dudes en explorar
            mis redes sociales para conocer más sobre mis proyectos. Ya sea que
            estés buscando colaborar en un nuevo desarrollo, necesites
            asesoramiento profesional, o simplemente quieras intercambiar ideas,
            estaré encantado de conversar contigo. Siempre estoy abierto a
            nuevas oportunidades y desafíos que me permitan seguir creciendo y
            aportando valor. ¡Hablemos y creemos algo increíble juntos!
          </p>
        </article>

        <p class="text-xl">
          Ademas, no olvides llevarte unos pedrocoins. ¡Algún día valdran mucho
          dinero!
        </p>

        <div class="flex items-center gap-1 transition hover:scale-110">
          <div class="h-6 w-6">
            <Coin />
          </div>

          <Counter
            client:visible
            transition:persist="counter"
            initialValue={0}
            transition:persist-props
          />
        </div>
      </PrimaryContain>

      <InfoBox boxTitle="Redes sociales">
        <ul class="flex flex-col gap-4 text-lg">
          <li>
            <SocialMediaButton
              link=`https://github.com/${SOCIALMEDIA.githubUser}`
              text={SOCIALMEDIA.githubUser}
              id={IDS.contact.socialMediaAnchor.github}
              accessibilityText=`Ir al perfil de github de ${PEDROYANEZNAME}`
            >
              <GithubMark class="h-9 w-10" />
            </SocialMediaButton>
          </li>

          <li>
            <SocialMediaButton
              link=`https://www.youtube.com/channel/${SOCIALMEDIA.youtubeChannel.id}`
              id={IDS.contact.socialMediaAnchor.youtube}
              text={SOCIALMEDIA.youtubeChannel.name}
              accessibilityText=`Ir al perfil de youtube de ${PEDROYANEZNAME}`
            >
              <Youtube class="h-10 w-10" />
            </SocialMediaButton>
          </li>

          <li>
            <SocialMediaButton
              id={IDS.contact.socialMediaAnchor.linkedin}
              text={SOCIALMEDIA.linkedin}
              link={`https://www.linkedin.com/${SOCIALMEDIA.linkedin}`}
              accessibilityText=`Ir al perfil de linkedin de ${PEDROYANEZNAME}`
            >
              <Linkedin class="h-10 w-10" />
            </SocialMediaButton>
          </li>
        </ul>
      </InfoBox>
    </TwoColumnLayout>
  </SectionLayout>
</Layout>
