---
import ButtonCard from "../ButtonCard/ButtonCard.astro";

// TODO: Add icons
interface ButtonLink {
  // icon?: string;
  id?: string;
  text: string;
  link: string;
}

export interface projectCardProps {
  name: string;
  created_at: string;
  primaryBtn: ButtonLink;
  description: string;
  language: string;
  topics: string[];
  extraButtons?: ButtonLink[];
}

const {
  name,
  description,
  language,
  topics,
  primaryBtn,
  created_at,
  extraButtons,
} = Astro.props as projectCardProps;

const formatTopics = (topicsList: string[]) => topicsList.join(", ");

if (topics) formatTopics(topics);

const formatDate = (dateString: string): string => {
  const date = new Date(dateString);
  const month = String(date.getMonth() + 1).padStart(2, "0");
  const year = date.getFullYear();
  return `${month}/${year}`;
};
const formattedDate = formatDate(created_at);
---

<div
  class="flex flex-col gap-1 rounded-lg border-2 border-primary/25 bg-primary/20 p-4 text-primary/90"
>
  <div class="flex flex-col gap-1">
    <h4>
      <strong>{name}</strong>
    </h4>

    <dl class="flex flex-col">
      {
        description && (
          <div class="flex flex-row">
            <dt>Descripción:&nbsp;</dt>
            <dd>{description}</dd>
          </div>
        )
      }

      {
        language && (
          <div class="flex flex-row">
            <dt>Lenguaje de programación:&nbsp;</dt>
            <dd>{language}</dd>
          </div>
        )
      }

      {
        topics && topics.length > 0 && (
          <div class="flex flex-row">
            <dt>Temas:&nbsp;</dt>
            <dd>{formatTopics(topics)}</dd>
          </div>
        )
      }

      <div class="flex flex-row">
        <dt>Creado en:&nbsp;</dt>
        <dd>{formattedDate}</dd>
      </div>
    </dl>
  </div>

  <div class="flex flex-row gap-4">
    <ButtonCard
      link={primaryBtn.link}
      text={primaryBtn.text}
      id={primaryBtn.id}
    />
    {
      extraButtons &&
        extraButtons.map((button) => (
          <ButtonCard link={button.link} text={button.text} id={button.id} />
        ))
    }
  </div>
</div>
