---
import ButtonMenu from "@/modules/navbar/ButtonMenu/ButtonMenu.astro";
import Logo from "@/modules/navbar/Logo/Logo.astro";

import ThemeToggle from "@/components/ThemeToggle/ThemeToggle.astro";

import HamburgerMenu from "@/assets/icons/hamburgerMenu.astro";
import GithubMark from "@/assets/icons/github-mark.astro";

import { menuList } from "@/consts/menuList";
import { IDS, PEDROYANEZNAME, SOCIALMEDIA } from "@/consts/const";
---

<nav
  class="relative flex w-full flex-row justify-between md:h-full md:flex-col md:justify-normal md:gap-6"
>
  <Logo />

  <div
    class="flex items-center gap-10 md:h-full md:flex-col-reverse md:justify-between md:gap-0"
  >
    <ThemeToggle />

    <div class="relative flex w-full flex-wrap items-center">
      <button
        data-collapse-toggle=`${IDS.navbar.navbarDefault}`
        type="button"
        aria-controls=`${IDS.navbar.navbarDefault}`
        aria-expanded="false"
        id=`${IDS.navbar.menuToggle}`
        class="h-14 w-14 rounded-lg p-2 text-primary/70 hover:bg-primary/5 focus:outline-none focus:ring-2 focus:ring-primary/20 dark:text-primary/70 dark:hover:bg-primary/25 dark:focus:ring-primary/70 md:hidden md:rounded-none"
      >
        <!-- TODO: internalizacion -->
        <span class="sr-only">Abrir menú principal</span>

        <HamburgerMenu />
      </button>

      <div
        class="absolute right-16 top-1/4 z-50 hidden md:static md:right-0 md:top-0 md:block md:w-full"
        id=`${IDS.navbar.navbarDefault}`
      >
        <ul
          class="flex w-64 flex-col justify-between gap-1 rounded-lg bg-primary/20 p-4 shadow-lg md:w-full md:gap-2 md:rounded-none md:bg-inherit md:p-0 md:shadow-none"
        >
          {
            menuList
              .sort((a, b) => a.order - b.order)
              .map((item) => (
                <li>
                  <ButtonMenu linkTo={item.link} text={item.title} />
                </li>
              ))
          }
        </ul>
      </div>
    </div>
  </div>

  <!-- TODO: Internalizacion -->
  <footer class="hidden md:mb-4 md:block">
    <h6 class="text-xs text-primary/80">
      <!--TODO: internacionalización -->
      <strong>
        Hecho con <span class="sr-only">Amor</span>
        <span aria-hidden="true">❤️</span> por {PEDROYANEZNAME}
      </strong>
    </h6>

    <h6 class="flex items-center text-center text-xs text-primary/80">
      <a
        class="flex items-center gap-1 rounded-lg border-2 p-1 text-center transition hover:scale-105 hover:opacity-70"
        href=`https://github.com/${SOCIALMEDIA.githubUser}/Minimalist-portfolio-2024`
        target="_blank"
        rel="noopener"
        id={IDS.navbar.portfolioRepository}
        aria-label="Ir al repositorio del proyecto"
      >
        <GithubMark id=`-${IDS.navbar.portfolioRepository}` class="h-4 w-4" />

        <span>Repositorio</span>
      </a>
    </h6>

    <span class="flex text-xs text-primary/80"
      >® Casi todos los derechos reservados...</span
    >
  </footer>
</nav>

<script>
  import { IDS } from "@/consts/const";

  const applyMenuToggle = () => {
    const toggleButton = document.getElementById(`${IDS.navbar.menuToggle}`);
    const navbar = document.getElementById(`${IDS.navbar.navbarDefault}`);

    if (toggleButton && navbar) {
      navbar.classList.add("hidden");

      toggleButton.removeEventListener("click", handleToggle);
      toggleButton.addEventListener("click", handleToggle);
    }
  };

  const handleToggle = () => {
    const navbar = document.getElementById(`${IDS.navbar.navbarDefault}`);
    navbar?.classList.toggle("hidden");
  };

  applyMenuToggle();

  document.addEventListener("astro:after-swap", applyMenuToggle);
</script>
